<section id="pricing" class="pricing_area pt-120 pb-130">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="section_title text-center pb-25 h4">
          <h4 class="title wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.2s">Bons Plans</h4>
        </div> <!-- section title -->
      </div>
    </div> <!-- row -->
    <div class="row justify-content-center">
      <div class="col-lg-4 col-md-8 col-sm-10">
        <div class="single_pricing text-center mt-30 wow fadeInUp" data-wow-duration="1.3s"
             data-wow-delay="0.4s">
          <span class="price">$4</span>
          <ul class="pricing_list">
            <li>Reservez</li>
          </ul>
          <a href="#0" class="mian-btn">Order Now</a>
        </div> <!-- single pricing -->
      </div>
    </div> <!-- row -->
  </div> <!-- container -->
</section>
